/* Projects.module.css */
.container {
  margin: 0 auto;
  padding: 3.5rem 1.5rem;
  scroll-behavior: smooth;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.5rem;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projectCard {
  display: flex;
  align-items: flex-start;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.projectImage {
  width: 50%;
  height: 12rem;
  object-fit: cover;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 50%;
}

.projectTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.projectDescription {
  color: #4b5563;
  margin-top: 0.5rem;
}

.viewProjectLink {
  width: 100%;
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
  background-color: transparent;
  border: 2px solid black;
  padding: 1rem 2rem;
  text-align: center;
  transition: all 0.3s ease;
}

.viewProjectLink:hover {
  color: white;
  background-color: black;
}
